include simplification/*.py
include simplification/*.pyx
include simplification/*.c
include simplification/*.h
include simplification/*.pxd
include simplification/*.pyd
include simplification/*.so
include simplification/*.dylib
include simplification/rdp.dll
include license.txt
include README.md
include README.rst
