name: Build and test wheels, release on new tag
env:
  rustlib: rdp
  wheelname: simplification

on: [push, pull_request]

jobs:
  get_latest_lib_tag:
    name: Get latest Rust lib tag
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.latest-tag.outputs.tag}}
    steps:
      - id: latest-tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: urschrei/${{ env.rustlib }}  # The repository to scan.
          releases-only: true  # We know that all relevant tags have a GitHub release for them.
      - run: echo "Latest lib tag ${{ steps.latest-tag.outputs.tag }}"

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    needs: get_latest_lib_tag
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macOS-10.15]

    steps:
      - uses: actions/checkout@v2
        name: Check out repo

      # Used to host cibuildwheel
      - uses: actions/setup-python@v2
      - id: set-filename
        name: Set compressed Rust lib filename to retrieve based on OS
        run: |
            if [ "$RUNNER_OS" == "Linux" ]; then
                echo "filename=${{ env.rustlib }}-${{ needs.get_latest_lib_tag.outputs.tag }}-x86_64-unknown-linux-gnu.tar.gz" >> $GITHUB_ENV
            elif [ "$RUNNER_OS" == "Windows" ]; then
                echo "filename=${{ env.rustlib }}-${{ needs.get_latest_lib_tag.outputs.tag }}-x86_64-pc-windows-msvc.zip" >> $GITHUB_ENV
            else
                echo "filename=${{ env.rustlib }}-${{ needs.get_latest_lib_tag.outputs.tag }}-x86_64-apple-darwin.tar.gz" >> $GITHUB_ENV
            fi
        shell: bash

      - id: get-rust-lib
        uses: stryd/fetch-release-asset@v1
        name: Download latest Rust lib release
        with:
          access_token: ${{ secrets.RDP_RETRIEVAL }}
          repo: urschrei/${{ env.rustlib }}
          version: ${{ needs.get_latest_lib_tag.outputs.tag }}
          asset_name: ${{ env.filename }}
          save_as: rustlib.zip # maps to outputs.location

      - name: Extract downloaded lib
        run:   |
               echo ${{ steps.get-rust-lib.outputs.location }}
               tar -xvf ${{ steps.get-rust-lib.outputs.location }} -C ${{ env.wheelname }}
               mkdir wheelhouse
               if [ "$RUNNER_OS" == "Linux" ]; then
                    cp ${{ env.wheelname }}/*.so wheelhouse
               elif [ "$RUNNER_OS" == "Windows" ]; then
                    cp ${{ env.wheelname }}/*.{dll,lib} wheelhouse
               else
                    cp ${{ env.wheelname }}/*.dylib wheelhouse
               fi
        shell: bash

      - name: Build and Test Wheels
        uses: pypa/cibuildwheel@v2.1.3
        env:
          CIBW_BEFORE_BUILD_MACOS: brew install openblas && OPENBLAS="$(brew --prefix openblas)" pip install numpy
          CIBW_BEFORE_BUILD: pip install numpy
          CIBW_TEST_REQUIRES: setuptools pytest numpy cython
          CIBW_TEST_COMMAND: 'pytest {package}'
          CIBW_BUILD: cp37-macosx_x86_64 cp37-manylinux_x86_64 cp38-macosx_x86_64 cp38-manylinux_x86_64 cp39-macosx_x86_64 cp39-macosx_arm64 cp39-manylinux_x86_64 cp310-macosx_x86_64 cp310-macosx_arm64 cp310-manylinux_x86_64

      - uses: actions/upload-artifact@v2
        name: Upload repaired wheels as artifact
        with:
          name: wheels-${{ matrix.os }}
          path: |
            ./wheelhouse/*.whl
            ./wheelhouse/*.so
            ./wheelhouse/*.dylib
            ./wheelhouse/*.lib
            ./wheelhouse/*.dll

  release_artifacts:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    name: Release repaired and tested wheels
    needs: build_wheels
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Download compressed artifacts
      id: download
      uses: actions/download-artifact@v2
      with:
        path: ./artifacts

    - name: 'List downloaded files'
      run: ls ${{ steps.download.outputs.download-path }}/**/*.*

    - name: Create release and upload wheels
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: "${{ steps.download.outputs.download-path }}/**/*.whl,${{ steps.download.outputs.download-path }}/**/*.so,${{ steps.download.outputs.download-path }}/**/*.dylib,${{ steps.download.outputs.download-path }}/**/*.lib,${{ steps.download.outputs.download-path }}/**/*.dll"

        token: ${{ secrets.GITHUB_TOKEN }}
